/* NavBar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 11px;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgb(5, 139, 248);
}


/** Article **/
article ul {
  list-style-type: none;
}

ul li h3 {
  display: inline-block;
  width: 150px;
}

ul.nobullet {
  list-style-type: none;
  padding-left: 0.5em;
}

ul.dotbullet {
  list-style-type: disc;
}

.top-image {
  display: inline-block;
  width: 50px;
  margin-right: 1em;
}

.new-product {
  display: inline-block;
  width: 90px;
  margin-left: 1.5em;
  margin-right: 1em;
}

.top_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
}

.thumbnail {
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article h1 {
    text-align: center;
}

article p {
  text-indent: 2em;
}



/* flex&Grid Table Style */
.flex-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px 25px;
}

.Image-width {
      width: 100px;
  }

.flex-container .grid-container ul {
  list-style: none;
}

